@import 'tailwindcss';
@theme {
  --color-secondary: #f2f0f1;
  --color-bg-1: #f0eeed;
  --color-bg-2: #f0f0f0;
  --font-integralcf-bold: 'integralcf-bold';
  --font-Satoshi-Bold: 'Satoshi-Bold';
  --font-Satoshi-Light: 'Satoshi-Light';
  --font-Satoshi-Regular: 'Satoshi-Regular';
  --font-Satoshi-Medium: 'Satoshi-Medium';
  --radius-primary: 62px;
}
@layer {
  .container {
    margin-left: auto !important;
    margin-right: auto !important;
    max-width: 77.5rem;
  }
  @font-face {
    font-family: 'integralcf-bold';
    src: url('../fonts/Integral_CF/integralcf-bold.woff') format('woff');
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: 'Satoshi-Light';
    src: url('../fonts/shatosi/Satoshi-Light.woff') format('woff');
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: 'Satoshi-Regular';
    src: url('../fonts/shatosi/Satoshi-Regular.woff') format('woff');
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: 'Satoshi-Medium';
    src: url('../fonts/shatosi/Satoshi-Medium.woff') format('woff');
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: 'Satoshi-Bold';
    src: url('../fonts/shatosi/Satoshi-Bold.woff') format('woff');
    font-display: swap;
    font-style: normal;
  }
  body {
    font-family: 'Satoshi-Light';
    font-size: 0.9rem;
    line-height: 1.3rem;
    color: rgba(0, 0, 0, 0.6);
    letter-spacing: 0.2px;
  }
  h1,
  h2 {
    font-family: var(--font-integralcf-bold);
    color: rgba(0, 0, 0, 1);
    font-weight: 700;
    letter-spacing: 0.1px;
  }
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-Satoshi-Regular);
    line-height: normal;
    font-size: 16px;
    letter-spacing: 0.1px;
  }
  p {
    font-family: var(--font-Satoshi-Light);
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 157.143% */
  }
  .t_h_text {
    font-family: var(--font-Satoshi-Light);
    font-size: clamp(0.75rem, 0.7083rem + 0.1852vw, 0.875rem);
    color: #fff;
    letter-spacing: 0.1px;
  }
  .logo {
    font-family: var(--font-integralcf-bold);
    font-size: clamp(1.5625rem, 1.2969rem + 0.7813vw, 2rem);
  }
  .big_title {
    font-family: var(--font-integralcf-bold);
    font-size: clamp(2.125rem, 0.6595rem + 4.3103vw, 4rem);
    line-height: clamp(2.125rem, 0.9866rem + 3.3482vw, 4rem);
  }
  .h_title {
    font-family: var(--font-integralcf-bold);
    font-size: clamp(2rem, 1.3929rem + 1.7857vw, 3rem);
    line-height: clamp(2.375rem, 1.6161rem + 2.2321vw, 3.625rem);
    text-transform: uppercase;
    letter-spacing: 0.1px;
  }

  .c_number {
    font-size: clamp(1.5rem, 0.8929rem + 1.7857vw, 2.5rem);
    color: rgba(0, 0, 0, 1);
    line-height: normal;
    letter-spacing: 1.1px;
  }
  .c_text {
    font-family: var(--font-Satoshi-Light);
    color: rgba(0, 0, 0, 0.6);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 137.5% */
    letter-spacing: 0.2px;
  }
  .p_img {
    object-fit: cover;
    object-position: center;
    width: 295px;
    height: 298px;
    border-radius: 20px;
    background-color: var(--color-bg-1);
  }
  .p_title {
    font-family: var(--font-Satoshi-Bold);
    font-size: 20px;
    font-weight: 700;
    color: rgba(0, 0, 0, 1);
    margin-top: 16px;
  }
  .p_price {
    font-family: var(--font-Satoshi-Bold);
    font-size: clamp(1.25rem, 1.0982rem + 0.4464vw, 1.5rem);
  }
  .p_price_off {
    font-family: var(--font-Satoshi-Bold);
    font-size: clamp(1.25rem, 1.0982rem + 0.4464vw, 1.5rem);
    color: rgba(0, 0, 0, 0.4);
    text-decoration-line: line-through;
  }
  .p_price_less {
    font-family: var(--font-Satoshi-Medium);
    font-size: clamp(0.625rem, 0.5491rem + 0.2232vw, 0.75rem);
    color: rgba(255, 51, 51, 1);
  }
  .p_rating {
    font-size: clamp(0.75rem, 0.6741rem + 0.2232vw, 0.875rem);
  }
  .p_c_title {
    font-size: clamp(1.5rem, 1.0446rem + 1.3393vw, 2.25rem);
  }

  .t_title {
    font-size: clamp(1rem, 0.8482rem + 0.4464vw, 1.25rem);
    letter-spacing: 0.1px;
  }
  .t_paragraph {
    color: rgba(0, 0, 0, 0.6);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 137.5% */
    letter-spacing: 0.19px;
  }
  .call_title {
    color: rgba(255, 255, 255, 1);
    font-size: clamp(2rem, 1.6964rem + 0.8929vw, 2.5rem);
  }
  .primary_button {
    background-color: #000;
    padding: 16px 69px;
    border-radius: 62px;
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-family: var(--font-Satoshi-Medium);
    line-height: normal;
    letter-spacing: 0px;
  }
  .secondary_button {
    padding: 14px 80px;
    border-radius: 62px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: #000;
    font-size: 16px;
    font-family: var(--font-Satoshi-Medium);
    font-style: normal;
    line-height: normal;
  }
  /* header css  */
  .nav-menu ul {
    display: inline-flex;
    align-items: center;
  }
  .nav-menu ul li a {
    color: #000;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: inline-flex;
    gap: 5px;
  }
  .nav-search input::placeholder {
    color: rgba(0, 0, 0, 0.4);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  .hero-p {
    color: rgba(0, 0, 0, 0.6);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.2px;
  }

  .active_width::before {
    position: absolute;
    content: '';
    height: 2px;
    width: 414px;
    inset: 0;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
  }
  .custom_ceck {
    cursor: pointer;
  }
  .custom_ceck::after {
    position: absolute;
    content: '';
    height: 1rem;
    width: 1rem;
    background: url(https://i.postimg.cc/j2CzsHbV/chech-icon.png) no-repeat top
      center;
    background-size: cover;
    inset: 0;
    margin: auto;
    display: none;
  }
  .p-s-w {
    width: inherit;
  }
  .mt-12- {
    margin-top: -12px;
  }
  footer ul li {
    color: rgba(0, 0, 0, 0.6);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px; /* 118.75% */
  }
  .custom_ceck:checked::after {
    display: block;
  }
  @media (width >= 48rem) {
  }
}
